{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.familyname }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.country }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">Plus d'informations</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun client n'est enregistré.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Nouveau client</a>
{% endblock %}
